@font-face {
  font-family: "PoiretOne";
  src: url("../../../public/fonts/PoiretOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../../../public/fonts/Alegreya-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../../../public/fonts/Overpass-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Header";
  src: url("../../../public/fonts/PetitFormalScript-Regular.ttf");
  //   font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yantramanav";
  src: url("../../../public/fonts/Yantramanav-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plain text";
  src: url("../../../public/fonts/ZenKakuGothicNew-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

$headerColor-greenish: #034a44;
$plainTextColor-redish: #9b5050;
$plainTextColor-yellowwhiteish: #e4af64;
$containerBackground: #f9f0e64f;
