.header {
  height: 70px;
  background-color: transparent; /* Set the background to transparent */
  text-align: center; /* Center the content */
}

/* Optional: Add padding or other styling if needed */
.header img {
  padding: 10px; /* Example padding */
}

// @media (min-width: 1024px) {
//   .header {
//     img {
//       width: 500px;
//     }
//   }
// }
