.header {
  background-color: transparent;
  text-align: center;
  margin-top: 10px;
  z-index: 100;

  .header-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    .header-mobile {
      display: none;
    }

    .header-desktop {
      display: block;
    }
  }
}
