.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
  z-index: 200;

  &.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .menu-wrapper {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      overflow: auto;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scrollbar-color: #bf9965 #f0d3ab; // For Firefox
      scrollbar-width: thin;

      button {
        margin: 10px;
        padding: 12px 24px;
        border: 2px solid #bf9965;
        background-color: #f0d3ab;
        color: #4d4b5e;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        width: 300px;
        cursor: pointer;
        border-radius: 15px;
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

        &:hover {
          background-color: #ddb071;
          border-color: #e4af64;
          box-shadow: 0 4px 8px rgba(194, 185, 207, 0.4);
        }

        &.active {
          background-color: #d18c2d;
          border-color: #d18c2d;
          color: #fff;
        }

        &.logout-btn {
          background-color: rgb(243, 146, 146);
          border: rgb(243, 146, 146);

          &:hover {
            background-color: rgb(175, 88, 88);
            color: whitesmoke;
          }
        }
      }
    }

    .menu-wrapper::-webkit-scrollbar {
      width: 10px;
    }

    .menu-wrapper::-webkit-scrollbar-thumb {
      background-color: #bf9965;
      border-radius: 6px;
    }
  }
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 999;

  .line {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin: 2px 0;
    transition: transform 0.3s ease;

    &:first-child {
      transform-origin: top left;
    }

    &:last-child {
      transform-origin: bottom left;
    }
  }

  &.open {
    .line {
      &:first-child {
        transform: rotate(45deg);
        margin-bottom: 10px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

@media (min-width: 800px) {
  .menu {
    &.open {
      .menu-wrapper {
        overflow: unset;
      }
    }
  }

  .hamburger-menu {
    width: 50px;
    height: 50px;

    .line {
      height: 5px;
    }
  }
}
