.wrapper-outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: -70px;
  background-color: bisque;

  .text-container {
    padding: 25px;
    text-align: center;
    border-radius: 15px;

    h1 {
      font-size: 2rem;
      color: #034a44;
      margin-top: 100px;
    }

    p {
      font-size: 1.1rem;
      color: #8e630e;
    }
  }
}

@media (min-width: 1024px) {
  .wrapper-outro {
    flex-direction: row;

    img {
      width: 80%;
      height: 65%;
    }

    .text-container {
      h1 {
        font-size: 3rem;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}
