@import "./constants.scss";

.container-proposal {
  background-color: #fbdfbd;
  background-image: url("../../../public/proposal-people 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;

  .wrapper-proposal-left {
    .proposal-info {
      .proposal-title {
        font-size: 2.5rem;
        text-align: center;
        font-family: "Header";
        color: #034a44;
      }

      .proposal-wrapper {
        .proposal-text {
          background-color: #f9f0e64f;
          font-size: 1.3rem;
          text-align: center;
          margin: 0 10px;
          padding: 10px;
          font-family: "Plain text";
          font-weight: bolder;

          &.top-border {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
          }

          &.bottom-border {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
      }
    }
  }
}

.hide-mobile {
  display: none;
}

@media (min-width: 870px) {
  .container-proposal {
    flex-direction: row;
    background-image: none;
    justify-content: center;
    align-items: flex-start;

    .wrapper-proposal-left {
      background-image: none;
      height: auto;
      width: 40%;
    }

    .wrapper-proposal-right {
    }

    .hide-mobile {
      display: block;
    }
  }
}
