.container-proposal {
  background-color: #fbdfbd;
  background-image: url("../../../public/proposal-people 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // background-size: 60vh;

  display: flex;
  flex-direction: column;
  height: 90vh;
  // margin-top: -70px;
  padding: 10px;

  .wrapper-proposal-left {
    .info {
      .proposal-title {
        font-size: 2.5rem;
        text-align: center;
      }

      .proposal-wrapper {
        // height: 70vh;
        // overflow: scroll;

        .proposal-text {
          background-color: #f9f0e64f;
          font-size: 1.3rem;
          text-align: center;
          margin: 0 10px;
          padding: 10px;

          &.top-border {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
          }

          &.bottom-border {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
      }
    }
  }
}

.hide-mobile {
  display: none;
}

@media (min-width: 870px) {
  .container-proposal {
    flex-direction: row;
    background-image: none;

    .wrapper-proposal-left {
      background-image: none;
      height: auto;
    }

    .wrapper-proposal-right {
      margin-top: 90px;
    }

    .hide-mobile {
      display: block;
    }
  }
}
